.form__input {
    background-color: rgba(255, 255, 255, 0.2);

    padding: 12px 0;
    text-align: center;

    font-size: 14px;
    line-height: 1.92;

    &::placeholder {
        color: $input;
    }
}

.form__privacy {
    text-align: center;
    line-height: 1;

    font-size: 13px;
    color: $privacy;

    @include mediaTablet {
        grid-row: 4 / 5;
    }
}


.form__btn {
    background-color: $accent;
    
    padding: 12px 0;
    text-align: center;
    
    font-weight: 700;
    line-height: 1.68;
    
    transition: all 0.2s ease-in;
    
    &:hover {
        filter: brightness(1.1);
    }
}



// .cta__form {
//     .form__privacy {
//         @include mediaTablet {
//             grid-row: 4 / 5;
//         }
//     }
// }

// .feedback__form {
//     .form__privacy {
//         @include mediaTablet {
//             grid-row: 4 / 5;
//         }
//     }
// }